body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.workout-form {
  border: 1px solid red;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.workout-form-header {
  background-color: red;
  color: white;
}

.rep-item {
  display: flex;
  justify-content: center;
}

.input-container {
  padding: 6px;
  display: flex;
  flex-direction: column;
}
